body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto
}

.topline {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.topline p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
}

ul, a {
    color: #e5e7eb;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
}

.second_line {
    display: flex;
    gap: 45px;
    justify-content: space-between;
}

.left_part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

}
.left_part, .right_part img{
    box-sizing: border-box;
    width: 350px;
    height: 220px;
}

.left_part .hero_big_text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.left_part .small_text {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    color: #e5e7eb;
    border-style: none;
    border-radius: 5px;
    padding: 5px 16px
}

.header {
    background: #1F2937;
    box-sizing: border-box;
    color: white;
    height:max-content;

    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 66px;
}
/* side padding, and alignment section */

.body1 {
    display: flex;
    justify-content: center;
    gap: 17px;
}

.img1 img, .img2 img, .img3 img, .img4 img {
    height: 250px;
    width: 260px;
    border: 5px solid #1F2937;
    border-radius: 12px;;
}

.body1 div {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 40px;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 28px; 
    margin-bottom: 28px
}
 
span {
    font-size: 24px;
    font-weight: bold;
}

.body2 {
    background-color: #e5e7eb;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 14px;
    padding-top: 50px;
    padding-bottom: 50px;

    flex-wrap: wrap;
    justify-content: flex-end;

    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}



.header, .body1, .body2 {
    padding-left: 120px;
    padding-right: 120px;
}
